<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="scheduled-application" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${com.sun.aas.instanceRoot}/logs/scheduled.log</file>
		
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss,SSS} [%thread] %p [%c] - %m %n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/scheduled.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>

    </appender>
    
    <appender name="scheduled-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${com.sun.aas.instanceRoot}/logs/scheduled-error.log</file>
		
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss,SSS} [%thread] %p [%c] - %m %n</pattern>
        </encoder>
        
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/scheduled-error.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>

    </appender>
    
    <appender name="scheduled-warm" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${com.sun.aas.instanceRoot}/logs/warm-job.log</file>
		
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss,SSS} [%thread] %p [%c] - %m %n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/warm-job.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>

    </appender>
    
    <appender name="scheduled-publish" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${com.sun.aas.instanceRoot}/logs/publish-huuto-job.log</file>
		
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss,SSS} [%thread] %p [%c] - %m %n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/publish-huuto-job.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>

    </appender>

    <appender name="scheduled-clean" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${com.sun.aas.instanceRoot}/logs/clean-huuto-job.log</file>
		
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss,SSS} [%thread] %p [%c] - %m %n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/clean-huuto-job.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>

    </appender>
    
    <appender name="reseller-huuto" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${com.sun.aas.instanceRoot}/logs/reseller-huuto.log</file>
		
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss,SSS} [%thread] %p [%c] - %m %n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/reseller-huuto.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>

    </appender>
    
    <logger name="org.quartz" level="debug" additivity="false">
        <appender-ref ref="scheduled-application"/>
    </logger>
    
    <logger name="com.abudko.scheduled" level="error" additivity="false">
        <appender-ref ref="scheduled-error"/>
    </logger>
    
    <logger name="com.abudko.scheduled" level="info" additivity="false">
        <appender-ref ref="scheduled-application"/>
    </logger>
    
    <logger name="com.abudko.scheduled.jobs.warm" level="info" additivity="false">
        <appender-ref ref="scheduled-warm"/>
    </logger>
    
    <logger name="com.abudko.scheduled.jobs.publish.PublishHuutoScheduler" level="info" additivity="false">
        <appender-ref ref="scheduled-publish"/>
    </logger>

    <logger name="com.abudko.scheduled.jobs.publish.PublishLekmerScheduler" level="info" additivity="false">
        <appender-ref ref="scheduled-publish"/>
    </logger>
    
    <logger name="com.abudko.scheduled.jobs.publish.CleanScheduler" level="info" additivity="false">
        <appender-ref ref="scheduled-clean"/>
    </logger>
    
    <logger name="com.abudko.scheduled.jobs.publish.CleanScheduler" level="error" additivity="false">
        <appender-ref ref="scheduled-error"/>
    </logger>
    
    <logger name="com.abudko.reseller.huuto" level="info" additivity="false">
        <appender-ref ref="reseller-huuto"/>
    </logger>

    <!-- Root logger -->
    <root level="WARN">
        <appender-ref ref="scheduled-application"/>
        <appender-ref ref="scheduled-error"/>
    </root>

</configuration>